#section-1 {
    .container {
        font-family: 'Roboto', sans-serif;
        display: grid; //lets you do grid stuff
        width: 100%;
        height: 1800px;
        grid-template-columns: 1fr 450px 1fr; //defines the sizes of the columns
        grid-template-rows:  400px 400px 2fr 3fr 1fr 50px; //defines sizes of rows
        grid-template-areas:

          " . cat .  "
          "divider divider divider "
          " . body . "
          " . where .  "
          " . search .  "
          " . iconz .  ";

          @media screen and (max-width: 1200px) { 
            grid-template-rows:  400px 200px 2fr 3fr 1fr 50px; //defines sizes of rows
          }
        
      }

      .cat {
        grid-area: cat;
        background-image: url('../img/section-1/AdoptCat.png');
        background-size: cover;
        background-repeat: no-repeat;

      }

      .divider {
        grid-area: divider;
        text-align: center;
        background-image: url('../img/icons/Divider.svg');
        background-position: center;
        background-repeat: no-repeat;
        font-weight: bolder;
        font-size: 48px;
        color: $white;

        @media screen and (max-width: 1200px) { 
            font-size: 20px;
          }
      }

      .body {
        grid-area: body;
        text-align: center;
        font-size: remcalc(20);

        @media screen and (max-width: 1200px) { 
            font-size: 16px;
          }
      }

      .where {
        grid-area: where;
        text-align: center;
        border: $Pred 4px solid;
      }

      .search {
        grid-area: search;
        text-align: center;
        font-weight: bold;
      }

      .iconz {
        grid-area: iconz;
    
      }

      .item {
        display: flex; //allows for centered text
        justify-content: center; //centers text horizontally
        align-items: center; //centers text vertically
      }

      .button {
        
        border-radius: 45px;
        padding: 1.5px 2px;
        background-repeat: no-repeat;

     }
}