#section-1 {
    .container {
        font-family: 'Roboto', sans-serif;
        display: grid; //lets you do grid stuff
        width: 100%;
        height: 1400px;
        grid-row-gap: 25px;
        grid-template-columns: 1fr 450px 1fr; //defines the sizes of the columns
        grid-template-rows:  400px 400px 1fr 1fr 50px; //defines sizes of rows
        grid-template-areas:

          " . cat .  "
          "divider divider divider "
          " . body . "
          " . where .  "
          " . iconz .  ";
          

          @media screen and (max-width: 1200px) { 
            grid-template-rows:  400px 200px 1fr 1fr 50px; //defines sizes of rows
          }
        
      }

      .cat {
        grid-area: cat;
        background-image: url('../img/section-1/AdoptCat.png');
        background-size: cover;
        background-repeat: no-repeat;

      }

      .divider {
        grid-area: divider;
        text-align: center;
        background-image: url('../img/icons/Divider.svg');
        background-position: center;
        background-repeat: no-repeat;
        font-weight: bolder;
        font-size: 48px;
        color: $white;

        @media screen and (max-width: 1200px) { 
            font-size: 20px;
          }
      }

      .body {
        grid-area: body;
        text-align: center;
        font-size: remcalc(20);

        @media screen and (max-width: 1200px) { 
            font-size: 16px;
          }
      }

      .where {
        grid-area: where;
        border: $Pred 4px solid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25px 2fr 1fr;
        grid-template-areas: 
  
          "si1 si2 "
          "si1 si3 "
          "si4 si4 ";
      }

      .si1 {
        grid-area: si1;
        background-image: url('../img/section-1/Location.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -60px;
        
      }
      .si2 {
        grid-area: si2;
        padding: 20px 20px 20px 20px;
        text-align: center;
        font-weight: bold;
      }
      .si3 {
        grid-area: si3;
        padding: 20px 20px 20px 20px;
        text-align: center;
      }
      .si4 {
        grid-area: si4;
        text-align: center;
        font-weight: bold;
        color: $Pblue;
        padding-top: 25px;
      }

      .iconz {
        grid-area: iconz;
    
      }

      .item {
        display: flex; //allows for centered text
        justify-content: center; //centers text horizontally
        align-items: center; //centers text vertically
      }

      .button {
        
        border-radius: 45px;
        margin-bottom: 100px;
        background-repeat: no-repeat;

     }
}