header {
    .container {
        padding-bottom: 100px;
        display: grid;
        width: 100%;
        height: 500px;
        grid-template-columns: 1fr 500px 1fr;
        grid-template-rows: 1fr 42px;
        grid-template-areas: 
    
              ". pup ."
              "ui ui ui";
    }

    .pup {
        grid-area: pup;
        text-align: center;

    }

    .ui {
        grid-area: ui;
        text-align: center;
    }

    .item {
        display: flex; //allows for centered text
        justify-content: center; //centers text horizontally
        align-items: center; //centers text vertically
      }
}